* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div {
  width: 600px;
  margin: 0 auto;
}
h3 {
  text-align: center;
}
.form {
  display: flex;
  background-color: antiquewhite;
  border: 2px solid salmon;
  /* justify-content: center; */
}
.list-item {
  display: flex;
  justify-content: space-between;
}
input {
  all: unset;
  flex: 1;
  padding: 0.8rem;
  outline: 1px solid salmon;
  background: white;
}
input:focus {
  outline: 1px solid salmon;
}
.btn {
  all: unset;
  background-color: salmon;
  padding: 0.8rem 1.2rem;
  color: white;
  cursor: pointer;
}
.list {
  margin-top: 3rem;
  background-color: lighten(salmon, 10%);
  font-size: 17px;
}

.fa-solid {
  color: red;
  cursor: pointer;
}
